/* ==========================================================================
#Fonts
========================================================================== */


$icon-font-path: '../../fonts/';

// @font-face {
//  font-family: 'Metrisch';
//  src: url($icon-font-path +  'Metrisch-ExtraLight-webfont.woff2') format('woff2'),
//    url($icon-font-path +  'Metrisch-ExtraLight-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
// }


/* ==========================================================================
#Variables
 ========================================================================== */

$color1: #393634; //dark grey
$color2: #CDAA72; //red
$color3: #212223; //grey
$color4: #F4F7F5; //off white
$color5:#08090A; //black

$contrastText : #ffffff;

// //== Typography
// //
// //## Font, line-height, and color for body text, headings, and more.

// $font-family-sans-serif:  "calluna-sans",sans-serif;
// $font-family-serif:     'Lora', serif;
// //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
// $font-family-base:        $font-family-sans-serif !default;


// $font-special: 'Lora', 'Papyrus';


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

$screen-sm: 576px !default;
$screen-sm-min: $screen-sm !default;

$screen-md: 768px !default;
$screen-md-min: $screen-md !default;

$screen-lg: 992px !default;
$screen-lg-min: $screen-lg !default;

$screen-xl: 1200px !default;
$screen-xl-min: $screen-lg !default;


$screen-xxl: 1920px;
$screen-xxl-min: $screen-xl !default;

// So media queries don't overlap when required, provide a maximum
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-lg-max: ($screen-xl-min - 1) !default;
$screen-xl-max: ($screen-xxl-min - 1) !default;


$font-sans-serif: century-gothic,
sans-serif;
$font-serif: 'Noto Serif',
serif;
$font-special: ivyjournal,
sans-serif;

/* ==========================================================================
#Mixins
========================================================================== */

@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1==$u2 and $u1==$u3 and $u1==$u4 {
		& {
			font-size: $min-font-size;

			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}

			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

%padding-one {
	padding: 1rem;
}

%padding-two {
	padding: 2rem 1rem;
}

%padding-three {
	padding: 3rem 1rem;
}

%padding-four {
	padding: 4rem 1rem;
}

%padding-eight {
	padding: 8rem 1rem;
}

/* ==========================================================================
#Base
========================================================================== */

$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 16px;

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

html body {
	line-height: 1.5;
	background: url('/images/country-quilt2.jpg');
	font-family: $font-sans-serif;
	color: #333;
}

$mod_1: 1.2; // mobile
$mod_2: 1.408; // desktop

.main-body{
	h3 {
		font-size: 1.5rem;
		margin-bottom: 2rem;

		@media(min-width:$screen-md){
			font-size: 2rem;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	margin-bottom: .8rem;
	font-family: $font-special;
}

p,
ul,
ol,
pre,
table,
blockquote {
	margin-top: 0rem;
	margin-bottom: 1.5rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.elevation-2dp {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.elevation-3dp {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.elevation-4dp {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.elevation-6dp {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.elevation-8dp {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.elevation-16dp {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

/* Let's make sure all's aligned */
hr,
.hr {
	border: 1px solid;
	margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
	line-height: 0;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

.btn {
	display: inline-block;
	padding: 2rem;
	background: $color2;
	color: $contrastText;
	position: relative;
	overflow: hidden;
	font-size: .8rem;
	transition: all .4s ease-in-out;

	@media(min-width: $screen-md) {
		font-size: 1rem;
	}

	&:hover {
		background: darken($color2, 15%);
		color: $contrastText;
	}
}

.btn.arrow {
	padding: 2rem 8rem 2rem 2rem;
}

.arrow-container {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 1.5rem 2rem;
	background: $color4;
	text-align: center;
}

.container {
	padding: 1rem;
}

.is-vertical-center {
	display: flex;
	align-items: center;
}

.equal-height {
	display: flex;
}

.equal-height>div {
	flex: 1;
}

html a {
	color: #fff;

	&:hover,
	&:visited,
	&:active {
		color: #fff;
	}
}

img {
	width: 100%;
	max-width: 100%;
}

.bar__title{
	position: relative;

	span{
		margin-right: 1rem;
	}

	&:after{
		border-top: .25rem solid $color2;;
		content: "";
		display: inline-block;
		height: .15rem;
		position: relative;
		vertical-align: middle;
		width: 40%;
		margin-bottom: .15em;
	}
}



/* ==========================================================================
#Modules
========================================================================== */

.header#main-header {
	height: 3rem;
	position: fixed;
	z-index: 2;
	width: 100%;
	left: 0;
	right: 0;
}

.header .navbar-logo {
	background: #fff;
	padding: 1rem;

	@media(min-width: $screen-lg) {
		padding: 2rem;
	}
}

.header .navbar-brand {
	align-self: flex-start;
}

.header .navbar-burger {
	color: #fff;
}

.header .navbar-logo img {
	max-width: 6rem;

	@media(min-width: $screen-md) {
		max-width: 8rem;
	}
}

.header .navbar-menu {
	justify-content: center;

	@media(max-width:$screen-md-max){
		background: #000;
		height: 100vh;
		padding: 0;
	}
}

.header .navbar-link.is-active,
.header .navbar-link:hover,
.header a.navbar-item.is-active,
.header a.navbar-item:hover {
	background-color: transparent;
}

.header .navbar-link.is-active,
.header .navbar-link:hover,
.header a.navbar-item.is-active,
.header a.navbar-item:hover {
	color: $contrastText;
}


.header .navbar {
	background-color: transparent;
}

.header__link {
	color: #fff;
}

.header__link--tour {
	background: $color2;
	margin-right: 2rem;
	padding: 2rem;
}

.header .navbar {
	background-color: #171616;
}

.header .navbar-item {
	padding: 1rem;
	font-size: .8rem;
	transition: all .8s ease-in-out;
	color: $contrastText;

	@media(min-width: $screen-lg) {
		font-size: 1rem;
		padding: 2rem;
	}
}

.navbar-phone {
	display: none;
	padding: 2rem;

	@media(min-width: $screen-lg) {
		display: block;
	}
}


.header .navbar-menu {
	justify-content: center;
}

.navbar-item {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #333;

	&:hover {
		background-color: transparent;
	}

	@media(min-width: $screen-sm) {
		border-bottom: none;
	}

	&::after {
		content: " ";
		height: 0.25rem;
		width: 100%;
		position: absolute;
		background: $color2;
		bottom: 0;
		left: 0;
		display: block;
		opacity: 0;
		transform: translateY(2px);
		transition: all .4s ease-in-out;
	}

	&:hover::after,
	&.active::after {
		color: #fff;
		transform: translateY(0);
		opacity: 1;
	}
}

.hero {
	min-height: 38rem;
	height: 100vh;
	background: url("/images/hero.jpg") no-repeat center;
	background-size: cover;
	position: relative;
}

.hero-call {
	background: rgba(49, 47, 47, .9);
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;

	@media(min-width: $screen-lg) {
		position: relative;
		height: 100vh;
		width: 40%;
	}

	@media(min-width:$screen-xxl) {
		padding: 0 4rem 0 8rem;
	}
}

.hero-call__title {
	font-size: 1.5rem;
	margin-bottom: 2rem;

	@media(min-width: $screen-xxl) {
		margin-bottom: 4rem;
		font-size: 2vw;
	}
}

.hero-call__subtitle {
	font-family: $font-sans-serif;
	font-size: 1rem;
	opacity: .5;

	@media(min-width: $screen-xxl) {
		font-size: 1.5rem;
	}
}

.hero__desc {
	font-size: .8rem;
	margin-bottom: 2rem;

	@media(min-width: $screen-lg) {
		font-size: 1rem;
	}
}

.hero__link {
	font-size: .8rem;
	position: relative;
	display: inline-block;
	padding: 2rem 0;

	&::after {
		content: " ";
		height: 0.25rem;
		width: 100%;
		position: absolute;
		background: $color2;
		bottom: 0;
		left: 0;
		display: block;
		opacity: 1;
		transition: all .4s ease-in-out;
	}

	&:hover::after,
	&.active::after {
		color: #fff;
		opacity: 1;
	}

	@media(min-width:$screen-lg) {
		font-size: 1.25rem;
	}
}

.special-bar {
	@media(min-width: $screen-lg) {
		width: 4rem;
		height: 100vh;
		background: #eee;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-content: center;
	}
}

.main-footer {
	background: #000;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.intro {
	text-align: center;
	padding: 2rem;
	margin-top: 0;
	background: #fff;
	@extend .elevation-6dp;
	display: none;
	
	@media(min-width: $screen-lg) {
		display: block;
	}	

	@media(min-width: $screen-xl) {
		padding: 4rem;
	}

	@media(min-width: $screen-xl) {
		margin-top: -6rem;
	}
}

.intro__title {
	color: #333;
	font-size: 1rem;
	display: inline-block;
	position: relative;
	padding-bottom: 1rem;

	&:after {
		content: " ";
		height: .25rem;
		width: 110%;
		left: -5%;
		position: absolute;
		background: $color2;
		bottom: 0;
	}

	@media(min-width:$screen-xl) {
		font-size: 2rem;
	}

	@media(min-width:$screen-xxl) {
		font-size: 1.5vw;
	}
}

.about__container.container{
	margin-top: 0;
	
	@media(min-width:$screen-xl) {
		margin-top: 8rem;
	}
}

.about__img{
	display: none;

	@media(min-width:$screen-lg) {
		display: block;
		max-width: 100%;
	}
}
.about__desc{
	border-left: .5em solid $color2;
	padding: 1rem 2rem;
	padding-bottom: 4rem;
}

.about__title{
	margin-bottom: 2rem;
}

.about__col{
	text-align: center;
}

.divider{
	height: 2rem;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	background: rgba(241, 241, 241, 0.6196078431372549);
}

.amenities__content.column{
	padding-left: 4rem;

	@media(max-width: $screen-md-max){
		background: #fff;
		padding: 4rem 2rem;
		width: 100% !important;
	}

	@media(min-width: $screen-xxl){
		margin-left: 16.66667%;
	}
}

.amenities.container{
	@media(min-width:$screen-lg) {
		margin-top: 8rem;
		margin-bottom: 2rem;
	}
}

.amenities__photo{
	display: none;

	img{
		max-width: 600px;
	}

	@media(min-width:$screen-sm) {
		display: block;
	}

	@media(min-width:$screen-lg) {
		margin-top: -15rem;
		margin-left: 8rem;
	}

	@media(min-width:$screen-xl) {
		margin-top: -22rem;
	}
}

h3.features__header{
	background: #000;
	color: $contrastText;
	padding: 1rem 2rem;
	font-size:1.2rem;
}

.features{
	@media(min-width:$screen-lg) {
		padding: 4rem;
	}
}

.features__column ul{
	padding-left: 2rem;
	list-style: square;

	li{
		line-height: 2rem;
	}
}

.main-footer{
	color: $contrastText;
}

/* ==========================================================================
#Theme Colors
========================================================================== */


.hero-wrap {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p
		{
		color: $contrastText;
	}
}


.arrow-container i {
	color: #333;
}